<div id="hooker" phx-hook="Say"></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <%= if @card do %>
        <.live_component
          module={RedWeb.PracticeLive.FormComponent}
          id={:new}
          current_user={@current_user}
          action={@live_action}
          card={@card}
        />
      <% else %>
        <div class="alert alert-info">
          <p>All done for now.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
