<main class="text-center flex-1 relative z-0 overflow-y-auto focus:outline-none">
  <.flash_group flash={@flash} />
  <.navbar current_user={@current_user} />

  <div class="mx-auto mt-2 max-w-xl">
    <%= @inner_content %>
  </div>
</main>
