<h1 class="text-2xl">Authentication Error</h1>

<p>
  Feel free to
  <a href="mailto:dewetblomerus@gmail.com" class="text-blue-800">
    send me an email
  </a>
  if you are stuck and need help.
</p>
