<div class="text-center py-5">
  <%= if @current_user do %>
    <a href="/">
      <.button>Start Practicing</.button>
    </a>
  <% else %>
    <h1 class="mb-2 text-3xl font-bold leading-tight tracking-tight text-gray-900">
      Sign in to start practicing.
    </h1>
    <a href="/sign-in">
      <.button>Sign In</.button>
    </a>
  <% end %>
</div>
